﻿@model IEnumerable<Order>
@{
  ViewBag.Title = "Orders";
  Layout = "_AdminLayout";
}
@if(Model.Any())
{
  <table class="table table-bordered table-striped">
    <tr><th>Name</th><th>Zip</th><th colspan="2">Details</th></tr>
    @foreach(Order order in Model)
    {
      <tr>
        <td>@order.Name</td>
        <td>@order.Zip</td>
        <th>Product</th>
        <th>Quantity</th>
        <td>
          <form asp-action="MarkShipped" method="post">
            <input type="hidden" name="orderId" value="@order.OrderID"/>
            <button type="submit" class="btn btn-sm btn-danger">
              Ship
            </button>
          </form>
        </td>
      </tr>
      foreach (CartLine line in order.Lines)
       {
         <tr>
           <td colspan="2"></td>
           <td>@line.Product.Name</td>
           <td>@line.Quantity</td>
           <td></td>
         </tr>
       }
    }
  </table>
}
else
{
  <div class="text-center">No Unshipped Orders</div>
}